

.page{
    padding-top: 4rem;

}
.Header{
    background: 
    linear-gradient(0deg, transparent, rgba(122, 106, 81, 0.7), rgba(212, 183, 142, 0.1)),
    url('../../assets/sbg.jpg') center;
    height:35vh;
    flex-direction: column;
    justify-content: center;
}
.section .homeAbout{
   align-items: flex-start;
}

.section{
    background:rgba(223, 219, 219, 0.5);
}
.aboutContent{
    /* flex-direction: column; */
    text-align: center;
}

.miniImage img{
    width:50%;
    margin-top:20px;
    margin-right: 10px;
    border-radius:10px;
}


@media screen and (max-width:912px){
    .testimonial-container{
        grid-template-columns: repeat(3, 1fr);
        gap:20px;
    }
    .test-content{
        height:200px;
    }
}
@media screen and (max-width:850px){
    .aboutContent,
    .info{
        flex-direction: column;
    }
    
    .left-about,
    .right-about{
        width: 100%; 
    }
    .right-about{
        margin-top: 1.5rem;
    }
    .testimonial-container{
        grid-template-columns: repeat(2, 1fr);
        gap:20px;
    }
   
}

@media screen and (max-width:769px) { 
    /* .aboutContent{
        flex-direction: column;
    }
    
    .left-about,
    .right-about{
        width: 100%; 
    }
    .right-about{
        margin-top: 1.5rem;
    } */

    .test-content{
        height:200px;
    }
 }

 @media screen and (max-width:600px) { 
 .testimonial-container{
    grid-template-columns:100%;
    gap:20px;
}
 }