

.page{
    padding-top: 4rem;

}
.Header{
    background: 
    rgba(1, 22, 1, 0.5) url('../../assets/images/aboutCard.jpg') center ;
  background-blend-mode:multiply;
    height:35vh;
    flex-direction: column;
    justify-content: center;
}


.section{
    background:rgba(223, 219, 219, 0.5);
}
.aboutContent{
    
    text-align: center;
}
.aboutContent h2{
    margin-bottom: 20px;
}
section .homeAbout{
    
    align-items: flex-start;
    }

.miniImage img{
    width:50%;
    margin-top:20px;
    margin-right: 10px;
    border-radius:10px;
}
.Box-container.chooseUs{
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap:0.4rem;
}



.chooseUs{
    flex-direction:column;
    
}




@media screen and (max-width:912px){
    /* .testimonial-container{
        grid-template-columns: repeat(3, 1fr);
        gap:20px;
    }
    .test-content{
        height:200px;
    } */
}


@media screen and (max-width:850px){
    /* .aboutContent,
    .info{
        flex-direction: column;
    }
    
    .left-about,
    .right-about{
        width: 100%; 
    }
    .right-about{
        margin-top: 1.5rem;
    } */
    
   
}

@media screen and (max-width:768px) { 
    .miniImage.flex{
        flex-direction: row !important;
    }
    .Box-container.chooseUs{
        grid-template-columns: repeat(2, 1fr);
        gap:1.5rem;
    }
    .miniImage img{
        width:45%;

    }
    
 }

 @media screen and (max-width: 576px) {
    .miniImage.flex{
        flex-direction: column !important;
    }
    .miniImage img{
        width:100%;
    }
    .bigImg{
        width:100% !important;
    }
    
    }

    @media screen and (max-width: 450px) {
     
        }
 