:root {
  --primary: #14532D;       /* Forest Green */
  --accent: #84CC16;        /* Lime Green */
  --bg: #FAFAF9;            /* Off White */
  --text: #111827;          /* Graphite */
  --white: #ffffff;
  --greyBg :rgba(218, 209, 214, 0.5);
}

*{
  margin: 0;
  padding:0;
  text-decoration:none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  outline:none;
  border:none;
  font-family: "Inter", sans-serif;
}
.flex{
  display:flex;
  align-items:center;
  justify-content: space-between;
}
img{
  object-fit: cover;
}
h1,h2,h3{
  font-family: 'Montserrat', sans-serif;
  color: var(--primary);
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}
h4{
  font-size:1.4rem;
  color: var(--text);
}

p, li{
  font-size:1rem;
  line-height: 2;
  color: var(--text);
}
.section-p{
 padding:60px 8%;
}
.margin{
  padding:30px 8%;
}


.button{outline: none;
  border: none;
  background-color: var(--primary);
  font-size: 16px;
  color:var(--white);
  padding:0.8rem 2rem;
  cursor:pointer;
  word-spacing:3px;
  letter-spacing: 1px;
  border-radius:1.5rem;
  margin-top:2rem;
  display:inline-block;
}

.button:hover{

  color: var(--text);
  background-color:var(--accent);
  
}
.btn1{
  outline: none;
  border: none;
  background:var(--primary);
  font-size: 14px;
  color:white;
  padding:0.6rem 1.4rem;
  cursor:pointer;
  word-spacing:3px;
  letter-spacing: 1px;
  border-radius:1rem;
  margin-top:1.5rem;
  display: block;
}

.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.whatsapp-float:hover {
  transform: scale(1.1);
}
.whatsapp-float .icon{
  background-color:rgb(8, 141, 48);
}


@media (max-width: 1199px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  
  h3 {
    font-size: 1.5rem;
  }
  h4{
    font-size:1.2rem;
  }
  p{
    
    line-height:1.9;
  }

  /* .margin{
  padding:30px 4%;
} */
.section-p{
  padding:60px 5%;
 }
}


@media (max-width: 991px) {

  
  .margin{
  padding:30px 3%;
}
.section-p{
  padding:60px 5%;
 }

}


@media screen and (max-width:768px){
  .margin{
    padding:30px 5%;
  }
   .flex {
  flex-direction: column !important;
  gap: 1.5rem; 
}

.col, .col1, 
.right-about{
  width: 100% !important;
}

   .homeAbout .col-2, .right-about.col-2,
   .aboutBox .col1,
   .aboutBox .col2{
  margin-top:2rem;
    width:100% !important ;
   }
   .serviceWrapper {
    flex-direction: row !important;
 
  }

  }

@media screen and (max-width: 576px) {
 
  p{
    font-size:0.95rem;
    line-height:1.6;
  }


  .whatsapp-float {
    font-size: 2rem;
    bottom: 15px;
    right: 15px;
  }
}



@media screen and (max-width:450px){
 
  .bigImg{
    width:100% !important;
  }

}


@media screen and (max-width:415px){
  h4{
    font-size:1rem;
  }

}